body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffe6f0;
  font-family: Arial, sans-serif;
  margin: 0;
}

#container {
  text-align: center;
  background: #fff0f5;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

#minion {
  width: 150px;
  margin-bottom: 20px;
}

h1 {
  animation: bounceIn 1.2s;
}

@keyframes bounceIn {
  0% { transform: scale(0); opacity: 0; }
  60% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); }
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#yes {
  background-color: #ff4d6d;
  color: white;
}

#no {
  background-color: gray;
  color: white;
}
.hero-img {
  width: 200px;
  margin-bottom: 20px;
  animation: floatImage 3s ease-in-out infinite;
}

@keyframes floatImage {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0px); }
}
